<section>
  <div>
    <p>
      {{blog.title}}    Posted by {{blog.user.username}} on {{blog.date}}
    </p>
    <p>
      {{blog.content}}
    </p>
  </div>
  {{!-- <div>
    {{#each commentData as |comment|}}
    <div>
      <p>
        {{comment.body}}
      </p>
    </div>
  </div> 
  need to add if statedment to allow commenting on comments if logged in.--}}
</section>