<section>
  <div>
    <div>
      <a href="/editBlog/{{blog.id}}"><button>Edit</button></a>
      <button id="deleteBtn" data-id="{{blog.id}}">Delete</button>
    </div>
    <div>
      <p>
        {{blog.title}} Posted by {{blog.user.username}} on {{format_date blog.date}}
      </p>
      <p>
        {{blog.content}}
      </p>
    </div>

    <div>
      {{#if loggedIn}}
      <a href="/newComment/{{blog.id}}"><button>Add a Comment</button></a>
      {{/if}}
      {{#if comments.length}}
      {{#each comments as |comment|}}
      {{> comment-details}}
      {{/each}}
      {{else}}
      <p>Be the first to Comment!</p>
      {{/if}}
    </div>

  </div>
</section>

<script src="../js/deleteBlog.js"></script>